{% extends "layout.html" %} 

{% block title %}
    Home Page
{% endblock %}

{% block main %}

    <div class="container text-center mb-3 index">
        <!-- top airing anime, top upcoming anime and most popular anime -->
        <div class="row mb-3">
            <div class="col">
                <h3 class="mb-2">Top Animes</h3>
                <div class="list-group list-group-flush">
                    {% for anime in TopAnimes %}
                    <a href="{{ url_for('anime', id=anime["mal_id"]) }}" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-3">
                                <img src="{{ anime["images"]["webp"]["image_url"] }}" class="rounded float-start index-image" alt="Image of {{ anime["title"] }}">
                            </div>
                            <div class="col-9">
                                <div class="row fw-bold text-start">
                                {{ loop.index }}. {{ anime["title"] }}
                                </div>
                                <div class="row">
                                    <p class="d-flex m-0 p-0 ">
                                        <span class="me-2">Rank #{{ anime["rank"] }}</span>
                                        <span class="ms-4">Score {{ anime["score"] }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <h3 class="mb-2">Top Airing Animes</h3>
                <div class="list-group list-group-flush">
                    {% for anime in TopAiringAnimes %}
                    <a href="{{ url_for('anime', id=anime["mal_id"]) }}" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-3">
                                <img src="{{ anime["images"]["webp"]["image_url"] }}" class="rounded float-start index-image" alt="Image of {{ anime["title"] }}">
                            </div>
                            <div class="col-9">
                                <div class="row fw-bold text-start">
                                {{ loop.index }}. {{ anime["title"] }}
                                </div>
                                <div class="row">
                                    <p class="d-flex m-0 p-0 ">
                                        <span class="me-2">Rank #{{ anime["rank"] }}</span>
                                        <span class="ms-4">Score {{ anime["score"] }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h3 class="mb-2">Most Popular Animes</h3>
                <div class="list-group list-group-flush">
                    {% for anime in TopPopularAnimes %}
                    <a href="{{ url_for('anime', id=anime["mal_id"]) }}" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-3">
                                <img src="{{ anime["images"]["webp"]["image_url"] }}" class="rounded float-start index-image" alt="Image of {{ anime["title"] }}">
                            </div>
                            <div class="col-9">
                                <div class="row fw-bold text-start">
                                {{ loop.index }}. {{ anime["title"] }}
                                </div>
                                <div class="row">
                                    <p class="d-flex m-0 p-0 ">
                                        <span class="me-2">Rank #{{ anime["rank"] }}</span>
                                        <span class="ms-4">Score {{ anime["score"] }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <h3 class="mb-2">Top Upcoming Animes</h3>
                <div class="list-group list-group-flush">
                    {% for anime in TopUpcomingAnimes %}
                    <a href="{{ url_for('anime', id=anime["mal_id"]) }}" class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-3">
                                <img src="{{ anime["images"]["webp"]["image_url"] }}" class="rounded float-start index-image" alt="Image of {{ anime["title"] }}">
                            </div>
                            <div class="col-9">
                                <div class="row fw-bold text-start">
                                {{ loop.index }}. {{ anime["title"] }}
                                </div>
                                <div class="row">
                                    <p class="d-flex m-0 p-0 ">
                                        <span class="me-2">Rank #{{ anime["rank"] }}</span>
                                        <span class="ms-4">Score {{ anime["score"] }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>
    
{% endblock %}